@use './css/abstracts/variables.scss';
@use './css/abstracts/resets.scss';
@use './css/layout/layouts.scss';
@use './css/base/base.scss';

@use './css/module/Comment.scss';
@use './css/module/Dashboard.scss';
@use './css/module/Header.scss';
@use './css/module/SignupForm.scss';
@use './css/module/LoginForm.scss';
@use './css/module/PostPreview.scss';
@use './css/module/Post.scss';
@use './css/module/PostForm.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f99438;
}
