$primary: #f99438;
$primary-dark: #e1b994;
$primary-light: #ebbb63;
$secondary: #3f3d56;
$secondary-light: #625f83;
$secondary-dark: #272635;
$white: #fff;
$error: #f44336;

$base-padding: 16px;
$base-margin: 16px;

$border-radius: 19px;
$border-radius-form: 5px;

$base-border-radius: 4px;
$base-border-width: 1px;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font: 'Lato', sans-serif;
