// forms, titles, buttons
@import '../abstracts/variables.scss';
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $primary-light;
  color: $secondary-light;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid $secondary-light;
  a {
    color: $secondary-light;
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    a {
      margin-left: 1rem;
      color: $secondary-light;
      text-decoration: none;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  card {
    width: 200px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $primary-light;
  color: $secondary-light;
  font-size: 1.2rem;
  font-weight: bold;
  border-top: 1px solid $secondary-light;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 30px;
  margin-bottom: 10px;
  border: 1px solid $primary-light;
  border-radius: 1px 50px;
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  //just buttons in a form
  button {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 1px solid $primary-light;
    border-radius: 5px;
    background-color: $secondary-dark;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
}

//buttons across the site, not in a form
button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: $secondary-dark;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
