@import '../abstracts/variables.scss';
.login-main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    border: 1px solid $white;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: $primary-light;
    position: relative;
    top: 10%;
  }
}
