@import '../abstracts/variables.scss';

.quill {
  width: 860px;
  background-color: white;
}

.ql-container.ql-snow {
  height: 200px;
}
.create .form__group {
  align-self: center;
  width: 100%;
}

.form__group.checkbox {
  margin-top: 5px;
}

.create .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
@media (max-width: 768px) {
  .quill {
    align-self: center;
    width: 110%;
  }
  .ql-toolbar.ql-snow .ql-formats {
    margin-right: 2px;
  }
}
