.post {
  max-width: 75%;
  .title {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .author {
    margin: 0;
    padding: 0;
  }
  .content {
    width: stretch;
  }

  .comments {
    width: stretch;
    .comment {
      border: 1px solid blue;
    }
  }
  .image {
    max-width: 85%;
  }
}

@media (max-width: 768px) {
  .image {
    max-width: 280px;
  }
}
