@import '../abstracts/variables.scss';

.intro {
  width: 90%;
}
.preview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5px;
}
.preview {
  word-wrap: break-word;
  min-width: 360px;
  height: 330px;
  display: flex;
  flex-direction: column;

  .imgPreview {
    border: solid 2px $primary-dark;
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: fill;
  }
  .buttons {
    background-color: $primary;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    button {
      width: 25%;
    }
  }
}

.previewCard {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
  color: $secondary-dark;

  background-color: $primary;
  padding: 10px;
  * {
    max-width: 95%;
    overflow: hidden;
    color: inherit;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $white;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
  }
  .author {
    margin: 0 0 0 5px;
    padding: 0;
    font-size: 1rem;
    flex-shrink: 0;
    color: $white;
  }
  .posted {
    margin: 0 0 0 5px;
    padding: 0;
    font-size: 1rem;
    flex-shrink: 0;
    color: $white;
  }
  .content {
    word-break: break-all;
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .preview {
    padding: 4px;
    max-width: 100vw;
    height: 100%;
  }
  .buttons {
    button {
      font-size: 0.8rem;
    }
  }
}
