.post {
  max-width: 75%;
  border: 1px solid red;
  .title {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .author {
    margin: 0;
    padding: 0;
  }
  .content {
    border: 1px solid green;
    min-width: 90%;
  }

  .comments {
    max-width: 75%;
    border: 1px solid blue;
  }
}
